<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgo.db.mapper.db_const.CustomConfigConstMapper">
    <delete id="deleteDizMobLessThanCreateTime">
        DELETE FROM biz_MobWxAlarmPostLog WHERE CreateTime &lt; #{createTime}
    </delete>

    <select id="call_dbo_spApp_ModifySysConfig" statementType="CALLABLE" resultType="map">
          {call dbo.spApp_ModifySysConfig()}
    </select>


    <select id="call_spApp_InitMobDb" statementType="CALLABLE" resultType="map">
        {  call spApp_InitMobDb()  }
    </select>
    <select id="findgetCusModuleList" resultType="map">
        SELECT ModuleCode FROM sys_Module
    </select>
</mapper>
